# Stellar / Soroban Configuration
NEXT_PUBLIC_CONTRACT_ID=CAB33EN5E3LAXPDH4CHNO2QBLFHFNPKJQTE6A24L7JYHNUKW2A4QAKBX
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
